html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }
  .fc-toolbar.fc-header-toolbar .fc-left {
    order: 3;
  }
  .fc-toolbar.fc-header-toolbar .fc-center {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-right {
    order: 2;
  }
  .fc-toolbar-chunk{
    margin-bottom: 1%;
  }
}