.messaging {
  padding: 0;
  overflow-y: scroll;
  max-height: 500px;
  height: 100vh !important;
}
.searchButton {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: var(--blue);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%;
}
.messageConfirm {
  display: inline-block;
  width: 42px;
  margin-right: 14px;
  content: "";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
  background-repeat: no-repeat;
  background-position: center;
}
.messageAddFile {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
  margin-right: 5px;
}
.messageEmoji {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
}
.profilePicture {
  display: inline-block;
  padding-top: 10px !important;
}
.messageSent {
  background-color: #007bff;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 14px;
  border-radius: 5px;
  padding: 13px 14px;
}
.messageRecived {
  background-color: #f5f5f5;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 14px;
  border-radius: 5px;
  padding: 13px 14px;
}
